<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.oilmachine.dao.DevicesMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.oilmachine.model.Devices" >
    <id column="devicesID" property="devicesid" jdbcType="VARCHAR" />
    <result column="nodecode" property="nodecode" jdbcType="VARCHAR" />
    <result column="nodetag" property="nodetag" jdbcType="VARCHAR" />
    <result column="TENANTID" property="tenantid" jdbcType="VARCHAR" />
    <result column="devicestypecode" property="devicestypecode" jdbcType="VARCHAR" />
    <result column="devicestypename" property="devicestypename" jdbcType="VARCHAR" />
    <result column="buid" property="buid" jdbcType="VARCHAR" />
    <result column="BUCODE" property="bucode" jdbcType="VARCHAR" />
    <result column="BUNAME" property="buname" jdbcType="VARCHAR" />
    <result column="connstatus" property="connstatus" jdbcType="TINYINT" />
    <result column="selfservice" property="selfservice" jdbcType="TINYINT" />
    <result column="receivedata" property="receivedata" jdbcType="CHAR" />
    <result column="deviceareanum" property="deviceareanum" jdbcType="TINYINT" />
    <result column="connid" property="connid" jdbcType="VARCHAR" />
    <result column="conname" property="conname" jdbcType="VARCHAR" />
    <result column="xlength" property="xlength" jdbcType="DECIMAL" />
    <result column="ylength" property="ylength" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="publickey" property="publickey" jdbcType="VARCHAR" />
    <result column="privatekey" property="privatekey" jdbcType="VARCHAR" />
    <result column="SORTS" property="sorts" jdbcType="BIGINT" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    devicesID, nodecode, nodetag, TENANTID, devicestypecode, devicestypename, buid, BUCODE, 
    BUNAME, connstatus, selfservice, receivedata, deviceareanum, connid, conname, xlength, 
    ylength, STATUS, publickey, privatekey, SORTS, CREATOR, UPDATEUSER, UPDATETIME, CREATEDATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.oilmachine.model.DevicesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iot_devices
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from iot_devices
    where devicesID = #{devicesid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from iot_devices
    where devicesID = #{devicesid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.oilmachine.model.DevicesExample" >
    delete from iot_devices
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.oilmachine.model.Devices" >
    insert into iot_devices (devicesID, nodecode, nodetag, 
      TENANTID, devicestypecode, devicestypename, 
      buid, BUCODE, BUNAME, 
      connstatus, selfservice, receivedata, 
      deviceareanum, connid, conname, 
      xlength, ylength, STATUS, 
      publickey, privatekey, SORTS, 
      CREATOR, UPDATEUSER, UPDATETIME, 
      CREATEDATE)
    values (#{devicesid,jdbcType=VARCHAR}, #{nodecode,jdbcType=VARCHAR}, #{nodetag,jdbcType=VARCHAR}, 
      #{tenantid,jdbcType=VARCHAR}, #{devicestypecode,jdbcType=VARCHAR}, #{devicestypename,jdbcType=VARCHAR}, 
      #{buid,jdbcType=VARCHAR}, #{bucode,jdbcType=VARCHAR}, #{buname,jdbcType=VARCHAR}, 
      #{connstatus,jdbcType=TINYINT}, #{selfservice,jdbcType=TINYINT}, #{receivedata,jdbcType=CHAR}, 
      #{deviceareanum,jdbcType=TINYINT}, #{connid,jdbcType=VARCHAR}, #{conname,jdbcType=VARCHAR}, 
      #{xlength,jdbcType=DECIMAL}, #{ylength,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, 
      #{publickey,jdbcType=VARCHAR}, #{privatekey,jdbcType=VARCHAR}, #{sorts,jdbcType=BIGINT}, 
      #{creator,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.oilmachine.model.Devices" >
    insert into iot_devices
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="devicesid != null" >
        devicesID,
      </if>
      <if test="nodecode != null" >
        nodecode,
      </if>
      <if test="nodetag != null" >
        nodetag,
      </if>
      <if test="tenantid != null" >
        TENANTID,
      </if>
      <if test="devicestypecode != null" >
        devicestypecode,
      </if>
      <if test="devicestypename != null" >
        devicestypename,
      </if>
      <if test="buid != null" >
        buid,
      </if>
      <if test="bucode != null" >
        BUCODE,
      </if>
      <if test="buname != null" >
        BUNAME,
      </if>
      <if test="connstatus != null" >
        connstatus,
      </if>
      <if test="selfservice != null" >
        selfservice,
      </if>
      <if test="receivedata != null" >
        receivedata,
      </if>
      <if test="deviceareanum != null" >
        deviceareanum,
      </if>
      <if test="connid != null" >
        connid,
      </if>
      <if test="conname != null" >
        conname,
      </if>
      <if test="xlength != null" >
        xlength,
      </if>
      <if test="ylength != null" >
        ylength,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="publickey != null" >
        publickey,
      </if>
      <if test="privatekey != null" >
        privatekey,
      </if>
      <if test="sorts != null" >
        SORTS,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="devicesid != null" >
        #{devicesid,jdbcType=VARCHAR},
      </if>
      <if test="nodecode != null" >
        #{nodecode,jdbcType=VARCHAR},
      </if>
      <if test="nodetag != null" >
        #{nodetag,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null" >
        #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="devicestypecode != null" >
        #{devicestypecode,jdbcType=VARCHAR},
      </if>
      <if test="devicestypename != null" >
        #{devicestypename,jdbcType=VARCHAR},
      </if>
      <if test="buid != null" >
        #{buid,jdbcType=VARCHAR},
      </if>
      <if test="bucode != null" >
        #{bucode,jdbcType=VARCHAR},
      </if>
      <if test="buname != null" >
        #{buname,jdbcType=VARCHAR},
      </if>
      <if test="connstatus != null" >
        #{connstatus,jdbcType=TINYINT},
      </if>
      <if test="selfservice != null" >
        #{selfservice,jdbcType=TINYINT},
      </if>
      <if test="receivedata != null" >
        #{receivedata,jdbcType=CHAR},
      </if>
      <if test="deviceareanum != null" >
        #{deviceareanum,jdbcType=TINYINT},
      </if>
      <if test="connid != null" >
        #{connid,jdbcType=VARCHAR},
      </if>
      <if test="conname != null" >
        #{conname,jdbcType=VARCHAR},
      </if>
      <if test="xlength != null" >
        #{xlength,jdbcType=DECIMAL},
      </if>
      <if test="ylength != null" >
        #{ylength,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="publickey != null" >
        #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="privatekey != null" >
        #{privatekey,jdbcType=VARCHAR},
      </if>
      <if test="sorts != null" >
        #{sorts,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.oilmachine.model.DevicesExample" resultType="java.lang.Integer" >
    select count(*) from iot_devices
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update iot_devices
    <set >
      <if test="record.devicesid != null" >
        devicesID = #{record.devicesid,jdbcType=VARCHAR},
      </if>
      <if test="record.nodecode != null" >
        nodecode = #{record.nodecode,jdbcType=VARCHAR},
      </if>
      <if test="record.nodetag != null" >
        nodetag = #{record.nodetag,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantid != null" >
        TENANTID = #{record.tenantid,jdbcType=VARCHAR},
      </if>
      <if test="record.devicestypecode != null" >
        devicestypecode = #{record.devicestypecode,jdbcType=VARCHAR},
      </if>
      <if test="record.devicestypename != null" >
        devicestypename = #{record.devicestypename,jdbcType=VARCHAR},
      </if>
      <if test="record.buid != null" >
        buid = #{record.buid,jdbcType=VARCHAR},
      </if>
      <if test="record.bucode != null" >
        BUCODE = #{record.bucode,jdbcType=VARCHAR},
      </if>
      <if test="record.buname != null" >
        BUNAME = #{record.buname,jdbcType=VARCHAR},
      </if>
      <if test="record.connstatus != null" >
        connstatus = #{record.connstatus,jdbcType=TINYINT},
      </if>
      <if test="record.selfservice != null" >
        selfservice = #{record.selfservice,jdbcType=TINYINT},
      </if>
      <if test="record.receivedata != null" >
        receivedata = #{record.receivedata,jdbcType=CHAR},
      </if>
      <if test="record.deviceareanum != null" >
        deviceareanum = #{record.deviceareanum,jdbcType=TINYINT},
      </if>
      <if test="record.connid != null" >
        connid = #{record.connid,jdbcType=VARCHAR},
      </if>
      <if test="record.conname != null" >
        conname = #{record.conname,jdbcType=VARCHAR},
      </if>
      <if test="record.xlength != null" >
        xlength = #{record.xlength,jdbcType=DECIMAL},
      </if>
      <if test="record.ylength != null" >
        ylength = #{record.ylength,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.publickey != null" >
        publickey = #{record.publickey,jdbcType=VARCHAR},
      </if>
      <if test="record.privatekey != null" >
        privatekey = #{record.privatekey,jdbcType=VARCHAR},
      </if>
      <if test="record.sorts != null" >
        SORTS = #{record.sorts,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null" >
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        UPDATEUSER = #{record.updateuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdate != null" >
        CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update iot_devices
    set devicesID = #{record.devicesid,jdbcType=VARCHAR},
      nodecode = #{record.nodecode,jdbcType=VARCHAR},
      nodetag = #{record.nodetag,jdbcType=VARCHAR},
      TENANTID = #{record.tenantid,jdbcType=VARCHAR},
      devicestypecode = #{record.devicestypecode,jdbcType=VARCHAR},
      devicestypename = #{record.devicestypename,jdbcType=VARCHAR},
      buid = #{record.buid,jdbcType=VARCHAR},
      BUCODE = #{record.bucode,jdbcType=VARCHAR},
      BUNAME = #{record.buname,jdbcType=VARCHAR},
      connstatus = #{record.connstatus,jdbcType=TINYINT},
      selfservice = #{record.selfservice,jdbcType=TINYINT},
      receivedata = #{record.receivedata,jdbcType=CHAR},
      deviceareanum = #{record.deviceareanum,jdbcType=TINYINT},
      connid = #{record.connid,jdbcType=VARCHAR},
      conname = #{record.conname,jdbcType=VARCHAR},
      xlength = #{record.xlength,jdbcType=DECIMAL},
      ylength = #{record.ylength,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=TINYINT},
      publickey = #{record.publickey,jdbcType=VARCHAR},
      privatekey = #{record.privatekey,jdbcType=VARCHAR},
      SORTS = #{record.sorts,jdbcType=BIGINT},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      UPDATEUSER = #{record.updateuser,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.oilmachine.model.Devices" >
    update iot_devices
    <set >
      <if test="nodecode != null" >
        nodecode = #{nodecode,jdbcType=VARCHAR},
      </if>
      <if test="nodetag != null" >
        nodetag = #{nodetag,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null" >
        TENANTID = #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="devicestypecode != null" >
        devicestypecode = #{devicestypecode,jdbcType=VARCHAR},
      </if>
      <if test="devicestypename != null" >
        devicestypename = #{devicestypename,jdbcType=VARCHAR},
      </if>
      <if test="buid != null" >
        buid = #{buid,jdbcType=VARCHAR},
      </if>
      <if test="bucode != null" >
        BUCODE = #{bucode,jdbcType=VARCHAR},
      </if>
      <if test="buname != null" >
        BUNAME = #{buname,jdbcType=VARCHAR},
      </if>
      <if test="connstatus != null" >
        connstatus = #{connstatus,jdbcType=TINYINT},
      </if>
      <if test="selfservice != null" >
        selfservice = #{selfservice,jdbcType=TINYINT},
      </if>
      <if test="receivedata != null" >
        receivedata = #{receivedata,jdbcType=CHAR},
      </if>
      <if test="deviceareanum != null" >
        deviceareanum = #{deviceareanum,jdbcType=TINYINT},
      </if>
      <if test="connid != null" >
        connid = #{connid,jdbcType=VARCHAR},
      </if>
      <if test="conname != null" >
        conname = #{conname,jdbcType=VARCHAR},
      </if>
      <if test="xlength != null" >
        xlength = #{xlength,jdbcType=DECIMAL},
      </if>
      <if test="ylength != null" >
        ylength = #{ylength,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="publickey != null" >
        publickey = #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="privatekey != null" >
        privatekey = #{privatekey,jdbcType=VARCHAR},
      </if>
      <if test="sorts != null" >
        SORTS = #{sorts,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        UPDATEUSER = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where devicesID = #{devicesid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.oilmachine.model.Devices" >
    update iot_devices
    set nodecode = #{nodecode,jdbcType=VARCHAR},
      nodetag = #{nodetag,jdbcType=VARCHAR},
      TENANTID = #{tenantid,jdbcType=VARCHAR},
      devicestypecode = #{devicestypecode,jdbcType=VARCHAR},
      devicestypename = #{devicestypename,jdbcType=VARCHAR},
      buid = #{buid,jdbcType=VARCHAR},
      BUCODE = #{bucode,jdbcType=VARCHAR},
      BUNAME = #{buname,jdbcType=VARCHAR},
      connstatus = #{connstatus,jdbcType=TINYINT},
      selfservice = #{selfservice,jdbcType=TINYINT},
      receivedata = #{receivedata,jdbcType=CHAR},
      deviceareanum = #{deviceareanum,jdbcType=TINYINT},
      connid = #{connid,jdbcType=VARCHAR},
      conname = #{conname,jdbcType=VARCHAR},
      xlength = #{xlength,jdbcType=DECIMAL},
      ylength = #{ylength,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=TINYINT},
      publickey = #{publickey,jdbcType=VARCHAR},
      privatekey = #{privatekey,jdbcType=VARCHAR},
      SORTS = #{sorts,jdbcType=BIGINT},
      CREATOR = #{creator,jdbcType=VARCHAR},
      UPDATEUSER = #{updateuser,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP}
    where devicesID = #{devicesid,jdbcType=VARCHAR}
  </update>
</mapper>