@charset "utf-8";
/*rest-css */
*html{background-image:url(about:blank);background-attachment:fixed;}
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
body{color:#333;padding:0;font:12px/100% "5B8B\4F53","\5FAE\8F6F\96C5\9ED1","SimSun";text-align:left;background:#ebebeb;}
fieldset,img{border:none; }
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ul,ol{list-style:none;}
em,i{font-style:normal;}
label{font-family:tahoma;vertical-align:middle;}
input{padding-top:0;padding-bottom:0; vertical-align:middle;}
input::-moz-focus-inner{border:none; padding:0;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
textarea{resize:none;}
table{border-collapse:collapse;}
body>div{text-align:left;}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;-moz-outline:none;}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0; font-size:0;overflow:hidden;}
.auto{margin-left:auto;margin-right:auto;}

/*globals*/
.show{display:block !important;}
.hide{display:none !important;}

/*[公共属性]==========*/
.f-w1{width:960px;margin-left: auto;margin-right: auto;}

/*[u=表单项]==========*/
.u-input1,.u-input2{width:100%;height:48px;line-height:48px;padding:0 20px;border:1px solid #ebebeb;border-radius:5px;font-size:14px;color:#999;}
.u-input2{width:202px;border-top-left-radius:5px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:5px;}
.u-submit{width:330px;height:50px;border:none;border-radius:5px;font-size:18px;color:#fff;background:#438eb9;cursor:pointer;}
.u-submit1{width:98px;height:36px;border:none;text-align:center;font-size:14px;color:#fff;background:#fb2f47;}
.j-getCode{width:140px;height:50px;line-height:50px;border:none;display:inline-block;text-align:center;font-size:12px;color:#4c4c4c;background:#f2f2f2;cursor:pointer;}


/*[m=登录*注册]==========*/
.g-head{height:80px;line-height:80px;background: #fff;}
.g-head .titname{margin-right: 34px;font-size: 30px;color: #438eb9;display: inline-block;vertical-align: middle;}
.g-head .ftit{font-size:20px;color:#999; vertical-align: middle;}
.g-loginCn{background:#f0f0f0;}
.m-loginBner{margin-top:118px;float:left;}
.g-ft{height:40px;line-height: 40px;font-size: 12px;color: #999;text-align: center;background: #fff;}

/*[m=登录*注册框]==========*/
.m-login{width:410px;/*height:355px;*/float:right;margin-top:80px;background:#fff;}
.m-loginIn{width:330px;margin:15px auto 0;}
.m-loginHd{height:60px;background:url(../images/line_x.jpg) repeat-x left 53px;}
.m-loginHd a{width:140px;height:60px;line-height:60px;display:inline-block;text-align:center;font-size:18px;color:#999;}
.m-loginHd a.active{color:#438eb9;background:url(../images/login_active_bg.png) no-repeat center 53px;}
.m-loginBd{margin-top:15px;}
.m-loginBd li{height:60px;margin-bottom:20px;}
.m-loginBd li.agreement{height:auto;margin-top:25px;position:relative;font-size:14px;}
.m-loginBd li.agreement input{vertical-align:middle;margin-bottom:2px;*margin-bottom:2px;}
.m-loginBd li.agreement a{color:#f53232;}
.m-loginBd .row3{height:22px;line-height:22px;margin-top:10px;color:#999;}
.m-loginBd .autoLogin{float:left;line-height: 18px;}
.m-loginBd .autoLogin input,.m-loginBd .autoLogin label{vertical-align: middle;}
.m-loginBd .remPwd{float:right;font-size:12px;color:#999;}
.m-loginBd .u-input1{width: 290px;}
.m-loginBd .submitbx{margin-top:25px;}
.m-loginBd .error{line-height: 26px;color:#f00;display: block;}

/*[m=提示框]==========*/
.rDialog{width:350px;position:fixed;_position:absolute;z-index:9999999 !important;}
.rDialog-wrap{position:relative;padding:5px 0;background:#fff;background-clip:padding-box;border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 0px 5px #000;}
.rDialog-header-load{display:none}
.rDialog-header-load2 {text-align: center;background: url("../images/alert-loading.gif");background-repeat: no-repeat;	background-position: 0 0;background-size: 100%;width: 50px;height: 53px;margin: auto;}
.rDialog-header-no{display:none;}
.rDialog-header-text{line-height:32px;font-size:16px;color:#fff;padding:0 15px;text-align:center;}
.rDialog-header-alert, .rDialog-header-ok{text-align:center;background:url(../images/icons/alert-icons.png);background-repeat:no-repeat;background-size:100%;width:50px;height:53px;margin:auto;}
.rDialog-header-alert{background-position:0 -53px;}
.rDialog-header-ok{background-position:0 0;}
.rDialog-content{line-height:23px;padding:10px 10px;font-size:16px;color:#333;overflow:hidden;text-align:center;}
.rDialog-footer{padding-left:15px;padding-top:10px;text-align:center;}
.rDialog-footer a{display:inline-block;margin:0 15px 15px 0;height:32px;line-height:32px;padding:0 30px;font-size:0.8em;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.rDialog-footer a:link, .rDialog-footer a:visited, .rDialog-footer a:hover{color:#fff;text-decoration:none;}
.rDialog-ok, .rDialog-ok:hover{background:#090;color:#fff;}
.rDialog-cancel, .rDialog-cancel:hover{background:#f00;color:#A7A7A7;}
.rDialog-mask{position:fixed;_position:absolute;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=30);opacity:.6;}
